<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    
    <gazebo>
        <plugin name="ezbot_propulsion_gazebo_plugin" filename="libezbot_propulsion_gazebo_plugin.so">
            <North>first_wheel_joint</North>
            <West>second_wheel_joint</West>
            <South>third_wheel_joint</South>


            <robotRadius>0.17</robotRadius>            
            <wheel_diameter>0.06</wheel_diameter>
            <wheelDiameter>0.06</wheelDiameter>
            <stepsPerRevolution>200</stepsPerRevolution>
            <microstepping>16</microstepping>


            <publish_odom>true</publish_odom>
            <publish_odom_tf>false</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <robotBaseFrame>base_link</robotBaseFrame>
            
            <odometry_frame>odom</odometry_frame>
            <publishOdom>true</publishOdom>
            <publishOdomTF>true</publishOdomTF>
        </plugin>
    </gazebo>
    
    
</robot>